<!DOCTYPE html>
<html lang="en">
  <head>
    <title>cmyk ~ Marcio Fraga</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FancyBox CSS-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
    />
    <!--Custom CSS-->
    <link rel="stylesheet" href="../stylesheets/about.css" />
  </head>
  <body>
    <%- include navbar.ejs %>
    <!-- About section -->
    <div class="container-fluid" id="about">
      <div class="row min-vh-100">
        <div class="col" id="section-1">
          <div class="container-fluid">
            <h4>Early education</h4>
            <p>
              I studied Graphic Design and Applied Visual Arts in Leuven,
              Belgium. There I developped my mastery of my unique style of
              making illustrations and broaden my ideas out of my mind. I began
              to expand my interests about videogames and comics to my artworks
              since I have a passionate interest about them. I use programs like
              Photoshop, Illustrator and Indesign. My most used program is
              Illustrator. I also have good knowledge of Première Pro, After
              Effects and Lightroom. I even have a ton of projects that I need
              to finish...
            </p>
          </div>
        </div>
        <div class="col" id="section-2">
          <div class="container-fluid" style="background-color: black">
            <h4>Late education</h4>
            <p>
              To expand my knowledge about Graphic Design, I began to learn
              about Web Design in HTML, CSS and Javascript in a course called
              Intec Brussel. It's a free 7-month course for people who have a
              large interest in IT. During the months of hard coding, I began to
              take an huge interest in Front-End Development, especially in CSS
              and Bootstrap. Since designing is in my blood, I like to visualize
              in my concepts for a better user experience in my head. But first
              of all, I need to gain a lot of self-training to be able to gain
              knowledge since programming is difficult to understand. I have
              basic knowledge of Bootstrap, Node.js, ExpressJS and React.
            </p>
          </div>
        </div>
        <div class="col" id="section-3">
          <div class="container-fluid" style="background-color: black">
            <h4>What now?</h4>
            <p>
              Now I'm currently working on my own projects from time to time. We will
              see what the future beholds with my own efforts. About myself, I
              like games and art in general. I'm very kind and respectful and
              also very reserved and self-conscious. But for things that I need to reach, even with fear,
              I will be able to conquer them. :)
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <script src="../javascripts/app.js"></script>
    <!--Custom JS file-->
    <!-- FancyBox JS -->
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
