<!doctype html>
<html lang="en">
  <head>
    <title>cmyk ~ Marcio Fraga</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FancyBox CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
    <!--Custom CSS-->
    <link rel="stylesheet" href="../stylesheets/contact.css">
  </head>
  <body>
    <%- include navbar.ejs %>
    <!-- Contact section -->
    <div class="d-flex flex-row flex-fill" id="contact">
        <div class="d-flex flex-column" id="header">
            <div class="container-fluid">
                <img src="images/placeholder/pexels-dids-2911521.jpg">
            </div>
            <div class="d-flex flex-column flex-wrap" id="form">
                <h1>Any questions?</h1>
                <h5>Feel free to ask me anything by filling the form below! It will be send to my mailbox.</h5>
                <div class="d-flex flex-row" style="align-self: center;">
                    <img src="images/placeholder/pexels-steve-johnson-1724888.jpg">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="email" id="mail" class="form-control" placeholder="Email address" aria-describedby="helpId">
                                <small id="helpId"><em>Fill in your e-mail.</em></small>
                            </div>
                            <div class="form-group">
                                <input type="text" id="name" class="form-control" placeholder="Name" aria-describedby="helpId">
                                <small id="helpId"><em>Input your name.</em></small>
                            </div>
                            <div class="form-group">
                                <input type="text" id="subject" class="form-control" placeholder="Subject" aria-describedby="helpId">
                                <small id="helpId"><em>Give the subject in the title.</em></small>
                            </div>
                            <div class="form-group">
                                <textarea id="message" class="form-control" placeholder="Message..." rows="3" aria-describedby="helpId"></textarea>
                                <small id="helpId"><em>Write your message in this text area.</em></small>
                            </div>
                            <button class="btn btn-primary box-shadow-none" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-wrap mt-5" id="form">
                <h5>Or follow me on the following social media!</h5>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <script src = "../javascripts/app.js"></script> <!--Custom JS file-->
    <!-- FancyBox JS -->
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>