<!doctype html>
<html lang="en">
  <head>
    <title>cmyk ~ Marcio Fraga</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FancyBox CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
    <!--Custom CSS-->
    <link rel="stylesheet" href="../stylesheets/home.css">
  </head>
  <body>
    <!-- Navbar -->
    <div class="d-flex flex-row">
        <nav class="nav flex-column" id="menu">
          <img src ="images/CMYKDeflogo_white_cmyk.svg" id="logo"></img>
          <a class="nav-link active disabled" id="cyan" href="/home">Home</a>
          <div class="dropright">
            <a class="btn shadow-none" href="" role="button" id="magenta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 12px;">Work</a>
            <div class="dropdown-menu" aria-labelledby="magenta">
              <a class="dropdown-item disabled" href="#">2022</a>
              <a class="dropdown-item" href="#">2021</a>
              <a class="dropdown-item" href="#">2020</a>
            </div>
          </div>
          <a class="nav-link" id="yellow" href="/about">About</a>
          <a class="nav-link" id="key" href="/contact">Contact</a>
          <a class="nav-link" id="donate" href="#">Donate</a>
          <div class="d-flex flex-row" id="icons" style="margin-top:23px">
            <div id="twitter">
              <a href="#"><img src="https://img.icons8.com/material-sharp/24/FFFFFF/twitter.png"/></a>
              <div class="overlay" id="twitterIcon">
                <a href="#"><img src="https://img.icons8.com/material-sharp/24/1DA1F2/twitter.png"/></a>
              </div>
            </div>
            <div id="instagram">
              <a href="#"><img src="https://img.icons8.com/material-sharp/24/FFFFFF/instagram-new.png"/></a>
              <div class="overlay" id="instaIcon">
                <a href="#"><img src="https://img.icons8.com/material-sharp/24/CD486B/instagram-new.png"/></a>
              </div>
            </div> 
          </div>
        </nav>
        <div id="galleryPusher"></div>
             <!-- Navbar Hamburger for mobiles & tablets-->
    <section class="mb-2 row" id="hamburger">
      <nav class="navbar">
        <div class="d-flex col-sm-2">
          <img src ="images/CMYKDeflogo_white_cmyk.svg" id="logo" class="ml-auto"></img>
        <div class="d-flex col-sm">
          <button class="navbar-toggler first-button ml-auto btn shadow-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent9" aria-controls="navbarToggleExternalContent9" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon1"><span></span><span></span><span></span></div>
          </button>
        </div>
      </nav>
      <div class="collapse" id="navbarToggleExternalContent9">
        <div class="p-4" id="dropped">
          <a class="nav-link nav-block m-0 disabled" id="cyanM" href="home.ejs" style="color: grey; text-align: center; font-weight: bold;">Home</a>
          <a class="nav-link nav-block m-0" id="magentaM" href="" style="color: magenta; text-align: center;">Work</a>
          <a class="nav-link nav-block m-0" id="yellowM" href="#" style="color: yellow; text-align: center;">About</a>
          <a class="nav-link nav-block m-0" id="whiteM" href="#" style="color: white; text-align: center;">Contact</a>
          <a class="nav-link nav-block m-0 mb-4" id="donateM" href="#" style="color: #009cde; text-align: center;">Donate</a>
          <div style="height: 1px; background-color: #353535"></div>
          <div class="bold mt-4 mb-4" style="text-align: center; font-weight: bold; color: white">Follow me!</div>
          <button class="btn btn-block mb-2" style="background-color:#1DA1F2;" id="twitterMcon"><img src="https://img.icons8.com/ios-glyphs/20/ffffff/twitter--v1.png"/>&nbsp<a href="#" style="color: white;">Twitter</a></button>
          <button class="btn btn-block mb-4" style="background-color:#cd486b;" id="instaMcon"><img src="https://img.icons8.com/ios-glyphs/20/ffffff/instagram-new.png"/>&nbsp<a href="#" style="color: white;">Instagram</a></button>
          <div style="height: 1px; background-color: #353535"></div>
          <div class="mt-4" style="color:lightslategray; font-size: 10px; text-align: center;" id="maker">2021 Marcio Fraga</p>
        </div>
      </div>
        </div>
        <p style="font-size:10px; color: lightslategrey;" id="makerM">2021 Marcio Fraga</p>
    </section>
        <!-- Gallery -->
        <div class="d-flex flex-row flex-fill flex-wrap" id="gallery">
            <a href="#"><img src="images/food/cmyk_food_BreakfastChaosWithName.png" id="breakfast" alt="cmyk Breakfast Chaos" data-fancybox="gallery"></a>
            <a href="#"><img src="images/nature/cmyk_nc_NaturesContrastwName.png" id="nature" alt="cmyk Nature Contrast" data-fancybox="gallery"></a>
            <a href="#"><img src="images/videogames/cmyk_vg_Bomberman.png" id="videogames" alt="cmyk Bomberman" data-fancybox="gallery"></a>
            <a href="#"><img src="images/food/cmyk_food_SorbetNewspaperwithName.png" id="food" alt="cmyk Sorbet Newspaper" data-fancybox="gallery"></a>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <script src = "../javascripts/app.js"></script> <!--Custom JS file-->
    <!-- FancyBox JS -->
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>