<!doctype html>
<html lang="en">
  <head>
    <title>cmyk ~ Marcio Fraga</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FancyBox CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
    <!--Custom CSS-->
    <link rel="stylesheet" href="../stylesheets/home.css">
  </head>
  <body>
    <%- include navbar.ejs %>
    <!-- Gallery -->
    <div class="d-flex flex-row flex-fill flex-wrap" id="gallery">
      <a href="#"><img src="images/food/cmyk_food_BreakfastChaosWithName.png" id="breakfast" alt="cmyk Breakfast Chaos" data-fancybox="gallery"></a>
      <a href="#"><img src="images/nature/cmyk_nc_NaturesContrastwName.png" id="nature" alt="cmyk Nature Contrast" data-fancybox="gallery"></a>
      <a href="#"><img src="images/videogames/cmyk_vg_Bomberman.png" id="videogames" alt="cmyk Bomberman" data-fancybox="gallery"></a>
      <a href="#"><img src="images/food/cmyk_food_SorbetNewspaperwithName.png" id="food" alt="cmyk Sorbet Newspaper" data-fancybox="gallery"></a>
    </div>
    <!-- Optional JavaScript -->
    <script src = "../javascripts/app.js"></script> <!--Custom JS file-->
    <!-- FancyBox JS -->
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>